<!DOCTYPE html>
<html lang="fr">
<head>
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
		(adsbygoogle = window.adsbygoogle || []).push({
			google_ad_client: "ca-pub-3022200405839941",
			enable_page_level_ads: true
		});
	</script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="assets/js/gtag.js"></script>
    <!--script async src="https://www.googletagmanager.com/gtag/js?id=UA-132706283-1"></--script -->

    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-132706283-1');
    </script>

    <meta charset="UTF-8" />
    <title>Bienvenu AGBAVON alias elisis</title>
	<link rel="stylesheet" type="text/css" href="assets/css/all-cv.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

	<div class="container">
		<div class="hero">
			<h1 class="name"><strong>Bienvenu</strong> AGBAVON</h1>
			<span class="job-title">Développeur</span>
			<span class="email"><a href="mailto:agbavonbienvenu@gmail.com">agbavonbienvenu@gmail.com (pour utilisation professionnelle uniquement)</a></span>

			<h2 class="lead">
				Développement et conception de solutions logicielles pour les startups, les grandes entreprises et tous les autres types.
			</h2>
		</div>
	</div>

<!-- Skills and intrest section -->
	<div class="container">

		<div class="sections">
			<h2 class="section-title">Expertises</h2>

			<div class="list-card">
				<span class="exp">+ 3 ans</span>
				<div>
					<h3>Programmation Java & Frameworks</h3>
					<span>Java, JEE, Play Framework (1.x, 2.x).</span>
				</div>
			</div>

			<div class="list-card">
				<span class="exp">+ 2 ans</span>
				<div>
					<h3>Développement Front End pour le Web</h3>
					<span>HTML, CSS, TypeScript, Angular</span>
				</div>
			</div>	

			<div class="list-card">
				<span class="exp">+ 1 an</span>
				<div>
					<h3>Plateforme .Net & Frameworks</h3>
					<span>C#, ASP.NET, WPF, Xamarin Forms, Xamarin Android</span>
				</div>
			</div>


		</div>
		<div class="sections">
				<h2 class="section-title">Favoris</h2>
				
				<div class="list-card">
					<div>
						<h3>Langages Typés</h3>
						<span>Java, C#, TypeScript</span>
					</div>
				</div>	

				<div class="list-card">
					<div>
						<h3>Plateformes</h3>
						<span>Android, Windows, Web</span>
					</div>
				</div>		

				<div class="list-card">
					<div>
						<h3>Technologies</h3>
						<span>.Net, Java</span>
					</div>
				</div>	
		</div>
	</div>

	<!-- Achievements -->

	<div class="container cards">
		
		<div class="card">
			<div class="skill-level">
				<span>+</span>
				<h2>10</h2>
			</div>

			<div class="skill-meta">
				<h3>Projets</h3>
				<span>Adapter et créer des solutions aux besoins du client</span>
			</div>
		</div>

			
		<div class="card">
			<div class="skill-level">
				<h2>50</h2>
				<span>%</span>
			</div>

			<div class="skill-meta">
				<h3>Web</h3>
				<span>Développement d'applications intégrant des services tiers et des clients mobiles</span>
			</div>
		</div>

			
		<div class="card">
			<div class="skill-level">
				<h2>30</h2>
				<span>%</span>
			</div>

			<div class="skill-meta">
				<h3>Solutions techniques</h3>
				<span>Telles que les services Web, les scripts, les configurations</span>
			</div>
		</div>


		<div class="card">
			<div class="skill-level">
				<h2>20</h2>
				<span>%</span>
			</div>

			<div class="skill-meta">
				<h3>D'applications de premier plan</h3>
				<span>Projets Web et assurer la qualité de la livraison</span>
			</div>
		</div>

	</div>

	<!-- Timeeline -->

	<div class="container">
		<ol class="timeline">
		  <li>
		    <p class="line">Experiences</p>
		    <span class="point"></span>
		    <p class="description">
				Développeur principal @XTechTics
		    </p>
		    <span class="date">Today - Jan. 2019</span>
		  </li>

		  <li>
		    <span class="point"></span>
		    <p class="description">
		      Freelance
		    </p>
		    <span class="date">Dec. 2018 - Sep. 2018</span>
		  </li>

		  		  <li>
		    <p class="line">Education</p>
		    <span class="point"></span>
		    <p class="description">
				Licence Professionnelle: Génie Informatique
		    </p>
		    <span class="date">2018 - 2015</span>
		  </li>
		</ol>

	</div>


	<br><br>


	<footer class="container">
		<span hidden style="font-size: 16px;">Coded by <a href="https://www.linkedin.com/in/bienvenu-agbavon">Bienvenu Elisis </a> Designed by <a href="https://dribbble.com/shots/4342703-Minimal-resume-freebie-for-junior-self-taught-people">Nicolas Meuzard</a></span>
		<span style="font-size: 16px;">Coded by <a href="http://www.elisis.me/about">Bienvenu Elisis </a>.
	</footer>


</body>
</html>